{{define "resetlayout"}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="../public/js/bootstrap/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

    <title>Reset</title>

    <style>
      .pageTitle{
        display: block;
        color: white;
        opacity: 0.50;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 3vh;
        font-weight: 600;
      }
    
    </style>
   
  </head>
  <body>
    <header style="background-color: #333">
      <center>
        <label class="pageTitle">Reset Password</label>
      </center>
    </header>

    <form style="padding-left:5vw;padding-right:5vw; padding-top: 5vh;" action="/reset_password" method="POST">
      <div class="form-group">
          <label for="name">Email</label>
          <input type="text" id="name" class="form-control" name="name" required>
        </div>

        <div class="form-group">
            <label for="matric">NRIC / Fin Number</label>
            <input type="text" id="matric" class="form-control" name="matric" required>
          </div>


          <div class="form-group">
              <label for="captcha">Captcha</label>
              <input type="text"  onkeyup="check()"  id="captcha" class="form-control" placeholder="" name="captcha" required>
            </div>
  

  
  
  
      <center>
        <button style="margin-top:7vh; margin-bottom: 3vh;"  id="resetButton" type="submit" class="btn btn-primary" disabled>Reset Password</button>
      </center>
        </form>

      <center>
        <p id="message"></p>
        <p class="link" onclick="location.href = '/';">Login Account</p>
      </center>

    <script>
      var randomString;
      var captchaBool = false;

      window.onload =function(e){
        randomString = Math.random().toString(36).substring(7);
        document.getElementById("captcha").placeholder = "Please type '"+randomString+"'";
      }


      var check = function() {
    if(document.getElementById('captcha').value == ""){
      captchaBool = false;
      document.getElementById('message').style.display = "none";

    }else
    if (document.getElementById('captcha').value == randomString) {
      document.getElementById('message').style.display = "none";
      captchaBool  = true;
    } else {
      document.getElementById('message').style.color = 'red';
      document.getElementById('message').style.display = "block";
      document.getElementById('message').innerHTML = 'Wrong Captcha';
      captchaBool =false;
    }
    document.getElementById("resetButton").disabled = !captchaBool;

  }



    </script>

  </body>



</html>


{{end}}



